.airport-picker-container {
    position: relative;
    width: 100%;
    min-width: 0;
}

/* BOX */
.airport-box {
    width: 100%;
    height: 100%;
    padding: 14px 18px;
    cursor: pointer;
}

/* DROPDOWN */
.airport-dropdown {
    position: absolute;
    top: calc(100% + 12px);
    left: 0;

    width: 520px;

    background: white;
    border-radius: 18px;
    box-shadow: 0 18px 40px rgba(0,0,0,0.14);

    z-index: 10000;
    transform: translateZ(999px);
    overflow: hidden;
}
.airport-item {
    padding: 14px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    cursor: pointer;
    transition: .2s;
}
.item-left {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    flex: 1;
}
.text-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.city-row {
    display: flex;
    align-items: center;
    gap: 8px;
}
.city-name {
    font-weight: 600;
    font-size: 16px;
    color: #111827;
}
.badge-code {
    background: #EEF2FF;
    color: #4F46E5;
    font-size: 12px;
    font-weight: 700;

    padding: 2px 8px;
    border-radius: 999px;
}
.full-airport {
    font-size: 14px;
    color: #6B7280;
}
.country-txt {
    font-size: 14px;
    color: #6B7280;
    white-space: nowrap;
}
.icon-circle {
    width: 38px;
    height: 38px;

    border-radius: 50%;

    background: #EEF2FF;
    color: #4F46E5;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
}

/* SEARCH INPUT */
.search-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 18px;
    border-bottom: 1px solid #eee;
}

.search-input-wrapper input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
}

/* LIST */
.airport-list {
    max-height: 320px;
    overflow-y: auto;
}

/* ITEM */
.airport-item {
    padding: 14px 18px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: .2s;
}

.airport-item:hover {
    background: #f6f7ff;
}

/* Tạo dòng chứa Icon và Label */
.label-row {
    display: flex;
    align-items: center;
    gap: 8px; /* Khoảng cách giữa icon và chữ From/To */
    margin-bottom: 4px;
}

/* Định dạng cho chữ label (From/To) */
.label-title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #6B7280;
}

/* Định dạng cho icon truyền vào */
.picker-icon {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #5856D6 !important;
}

/* Đảm bảo thẻ i bên trong nhận màu trắng */
.picker-icon i {
    color: #5856D6 !important;
}